
<div id="map">

<section class="slider">
  
  <button class="next">Next</button>
  <button class="prev">Previous</button>
  
  <div class="container_slider">
    
    <div style="display: inline-block;">
    <%= image_tag "Ins1.png", :height => "500px" %>
    </div>
    <div>
     <%= image_tag "Ins2.png", :height => "500px"%>
    </div>
    <div>
     <%= image_tag "Ins3.png", :height => "500px"%>
    </div>
    <div>
      <%= image_tag "Ins4.png", :height => "500px" %>
    </div>
    </div>
</section>
</div>









<!-- <div class"container">
</div>
    -->
  <!--  <%= link_to new_user_session_path  %>
   
   <%= link_to new_user_registration_path %>

 
 <%= link_to  edit_user_registration_path %>
 
 <%= link_to destroy_user_session_path, method: :delete%> -->

