<!DOCTYPE html>
<html>
<head>
  <title>Heyu4</title>
  
  <script src="//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand"><%= image_tag("heyu.png", :id =>'heyu') %> never miss another connection</a>
          </div>
          <center>
              <div class="navbar-collapse collapse" id="navbar-main">
                  <ul class="nav navbar-nav navbar-right">
                      <li><%= link_to_unless_current('Home', root_path) {  link_to('Home', root_path, class: 'active') } %></li>
                     <li><%= link_to_unless_current('Pins', pins_path) {  link_to('Pins', pins_path, class: 'active') } %></li>
                  </ul>
                  <% if current_user %>
                    <p class="navbar-text navbar-right">Signed in as <%= current_user.email %> <%= link_to "Log out", destroy_user_session_path, { :method => :delete } %></p>
                  <% else %>
                    <%= form_tag new_user_session_path, method: "POST", class: "navbar-form navbar-right" do |f| %>
                        <div class="form-group">
                            <%= text_field_tag :email, params[:email], class: "form-control", placeholder: "Email" %>
                        </div>
                        <div class="form-group">
                            <%= password_field_tag :password, "", class: "form-control", placeholder: "Password" %>
                        </div>
              
                        <%= submit_tag "Log in", class: "btn btn-default" %>            

                        <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-default" %>

                    <% end %>
                  <% end %>
                  </form>
              </div>
          </center>
      </div>
  </div>

<div class="container_message">
 <% flash.each do |name, msg| %>
   <%= content_tag(:div, msg, class: "alert alert-info") %>
 <% end %>
<br>
 <%= yield %>
 <!-- Note: "flash" is a message that appears after an action but does not stay on the page, like "thanks for signing up!"

 Note2 = <%= %> is erb's way of saying "put string", thus, anything with html or css should have an "=" whereas actual methods or functions don't need them, thus, <% %> is better in those cases -->
 </div>



</body>
<div class="navbar navbar-inverse navbar-fixed-bottom">
<ul class="nav navbar-nav navbar-right">
<a class="navbar brand"><%= link_to image_tag("twitter.png", :size => "30x30", :id =>'twitter'), 'https://twitter.com/heyu_connect' %></a>
</ul>
<p class="foot">site built by cmav&clee</p>
</div>

</div>
</div>
</html>
